@charset "utf-8";
/* CSS Document */
#sidebar #main-nav {
                width:200px;
                padding:0;
                margin:0 0 0 0;
				border-bottom:1px #3b4267 solid;
                }

#sidebar #main-nav li {
                list-style: none;
                text-align:left;
				margin:0 0;
				padding:0 0 0 0;
                }
			
#sidebar #main-nav li a.nav-top-item {
                background: #464e78; 
				width:200px;
				height:48px;
				border:0;
                color: #fff;
                font-size:14px;
                cursor: pointer;
                display:block;
                text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
				cursor:default;			
				border-bottom:1px solid #3b4267;	
				border-right:4px solid  ##464e78;			
				
                }	
#sidebar #main-nav li a.nav-top-item img{margin:7px 0 0 10px;line-height:60px;float:left;}	
#sidebar #main-nav li a.nav-top-item span{display:block;float:left;font-size:16px;text-indent:5px;font-weight:normal;line-height:60px;overflow:hidden}			
#sidebar #main-nav li a.no-submenu{
	           background: #464e78; 
				width:200px;
				height:48px;			
				border:0;
                color: #fff;
                font-size:14px;
                cursor: pointer;
                display:block;
                text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
				border-right:3px solid  #3b4267;
				border-bottom:1px solid #3b4267;	
	}
#sidebar #main-nav li a.nav-top-item.current {
                 background:#3b4267;
				width:200px;
				height:48px;	
				border-right:3px solid  #34c0e3;
				border-bottom:1px solid #3b4267;
                }
#sidebar #main-nav li a.no-submenu.current{
				background:#3b4267;
				width:200px;
				height:48px;
				border-right:3px solid  #34c0e3;
				border-bottom:1px solid #3b4267;
	}
#sidebar #main-nav li a.current:hover {
               color:#ffffff;
                }
#main-nav li a{
	            display:block;
                padding:0 ;
                color: #fff;
				text-indent:45px;
                font-size: 14px;
                line-height:44px;
				height:44px;
				text-decoration:none;
				font-weight:bold;
				 background:#464e78;
				background-position: 0 -255px;			
				border-bottom:1px solid #0f4e8c;
				
                }	
#main-nav li a.submenu-item {
	 background:#115eab url(../images/menu_bg.png);
				background-position: 0 -300px;
	}
#main-nav li a.current{
	background:#d95050 url(../images/menu_bg.png);
				background-position: 0 -345px;
				border-bottom:1px solid #2668a9
	}
#main-nav li a.submenu-item.current{
	 background:#115eab url(../images/menu_bg.png);
				background-position: 0 -398px;
			border-bottom:1px solid #2668a9
	}
#main-nav li a.thirdmenu{
	display:block;
    padding:0 ;
                color: #fff;
				text-indent:56px;
                font-size: 14px;
                line-height:40px;
				height:40px;
				font-weight:normal;
	background:#4cb5cc;
	border-bottom:1px solid #4e9cad
	}
#sidebar #main-nav li a.thirdmenu.current,
#sidebar #main-nav li a.thirdmenu.current:hover{
	   background:#51d1ed;
		border-bottom:1px solid #4e9cad
	}
