@charset "utf-8";
/* CSS Document */
body{ background:#0b040b url(../images/bg_login.jpg) no-repeat top fixed; overflow:scroll;font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;}
/***line分割display:inline-table!important;线****/
.xline{
	display:block;
	width:98%;
	height:1px;
	border-bottom:0 solid #dbdbdb;
	overflow:hidden;
	padding:0;
	margin:0 auto 0 auto;	
	}
.container-channel{height: 100%; }
.channelwrap{width:1200px;margin:0 auto;}
.header{width:1200px;margin:0 auto;height:100px;padding:0;z-index:99;}
.header .logo{width:604px;height:80px;float:left; background:url(../images/pic_header_logo.png) no-repeat 10px 10px;}
.header .topnav{float:right;margin:30px 2px 0 0;}
.topnav li{float:left; list-style:none;margin:0 8px 0 0;}
.topnav li a{display:block;-moz-border-radius: 4px;border-radius: 4px;font-size:14px;width:76px;height:32px;line-height:32px;text-align:center;}
.topnav-login{ background:#00b3ef;color:#ffffff;}
.topnav-sign{background:#1370cf;color:#ffffff;}

.notetime{width:1200px;height:28px;margin:15px auto 0 auto}
.notewrap{width:600px;height:28px;margin:0 auto;}
.notebox{font-size:14px;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu}
.notebox span{display:block;float:left;padding:0 10px; letter-spacing:1px;color:#ffffff}
.noteitem-time{border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px; background:#00b3ef;width:260px;height:28px;line-height:28px;}
.noteitem-total{border-left:1px solid #7a849a;height:25px;margin:2px 0 0 6px;line-height:24px;color:#ffffff}


.searcher{width:1200px;margin:0 auto;}
.searcherbox{width:1200px;margin:10px auto 5px auto}
.searchermain{width:800px;margin:25px auto 0 auto}
.searchermain input{width:600px; border:0;font-size:14px; font-weight:normal;color:#949494;height:36px; background:#ffffff;　border-radius: 4px;-moz-border-radius: 4px; -webkit-border-radius: 4px;float:left;margin:0 10px 0 0;padding:0 5px; }
.searchermain a{display:block;float:left;border:0; background:#1370cf;　border-radius: 4px;-moz-border-radius: 4px; -webkit-border-radius: 4px;width:120px;height:36px; color:#ffffff;font-size:14px;text-align:center;line-height:34px; letter-spacing:4px;}

.mainnav{width:1200px;margin:0 auto}
.mainnavbox{width:1200px;margin:20px auto 0 auto;height:60px;}
.mainnavbox li{ list-style:none;float:left;width:160px;height:60px;}
.mainnavbox li a{display:block;float:left;line-height:58px;width:150px;font-size:16px; text-indent:60px;}
.mainnav01{ background:url(../images/bg_mainnav_icon.png) 4px -3px no-repeat ;color:#ffffff;}
.mainnav02{ background:url(../images/bg_mainnav_icon.png) 4px -57px no-repeat ;color:#ffffff;}
.mainnav03{ background:url(../images/bg_mainnav_icon.png) 4px -115px no-repeat ;color:#ffffff;}
.mainnav04{ background:url(../images/bg_mainnav_icon.png) 4px -178px no-repeat ;color:#ffffff;}
.mainnav05{ background:url(../images/bg_mainnav_icon.png) 4px -240px no-repeat ;color:#ffffff;}
.mainnav06{ background:url(../images/bg_mainnav_icon.png) 4px -296px no-repeat ;color:#ffffff;}
.mainnav01:hover{ background:url(../images/bg_mainnav_icon.png) 4px -358px no-repeat ;color:#ffffff;}
.mainnav02:hover{ background:url(../images/bg_mainnav_icon.png) 4px -428px no-repeat ;color:#ffffff;}
.mainnav03:hover{ background:url(../images/bg_mainnav_icon.png) 4px -502px no-repeat ;color:#ffffff;}
.mainnav04:hover{ background:url(../images/bg_mainnav_icon.png) 4px -580px no-repeat ;color:#ffffff;}
.mainnav05:hover{ background:url(../images/bg_mainnav_icon.png) 4px -660px no-repeat ;color:#ffffff;}
.mainnav06:hover{ background:url(../images/bg_mainnav_icon.png) 4px -744px no-repeat ;color:#ffffff;}
.mainnav01-on{ background:url(../images/bg_mainnav_icon.png) 4px -358px no-repeat ;color:#ffffff;}
.mainnav02-on{ background:url(../images/bg_mainnav_icon.png) 4px -428px no-repeat ;color:#ffffff;}
.mainnav03-on{ background:url(../images/bg_mainnav_icon.png) 4px -502px no-repeat ;color:#ffffff;}
.mainnav04-on{ background:url(../images/bg_mainnav_icon.png) 4px -580px no-repeat ;color:#ffffff;}
.mainnav05-on{ background:url(../images/bg_mainnav_icon.png) 4px -660px no-repeat ;color:#ffffff;}
.mainnav06-on{ background:url(../images/bg_mainnav_icon.png) 4px -744px no-repeat ;color:#ffffff;}

.contentwrap{width:100%;margin:0 auto; background:#ffffff;min-height:700px;overflow:hidden; }
/*
.contentwrap{width: 100%;margin: 0 auto;background: #ffffff url(../images/bg_column.jpg) repeat-y -50px 0;min-height: 700px;overflow: hidden;}
*/
.content-leftwrap{width:200px; margin-left:-100%;float:left; background:#464e78;height:100%; padding-bottom:4000px;
    margin-bottom:-4000px;border-left:1px solid #40466e}
.searchcount td a{font-size:15px;color:#e86c22;}

/* 左侧菜单CSS Document */
.leftnav-title{width:200px;height:64px;color:#7bcde9;border-bottom:1px #3b4267 solid;}
.leftnav-title img{float:left;margin:10px 0 0 18px;}
.leftnav-title font{color:#7bcde9;font-size:16px;margin:10px 0 0 0;line-height:62px;overflow:hidden;}
/***     Sidebar      ***/
#sidebar { width: 200px;margin: 0 0 10px 0  ;padding:0 ;}
#sidebar-wrapper { width: 230px; margin: 0;}	

/************ Sidebar Accordion Menu ************/
#sidebar #main-nav {
                width:200px;
                padding:0;
                margin:0 0 0 0;
				border-bottom:1px #3b4267 solid;
                }
#sidebar #main-nav li {
                list-style: none;
                text-align:left;
				margin:0 0;
				padding:0 0 0 0;
                }
#sidebar #main-nav li a.nav-top-item {
                background: #464e78; 
				width:200px;
				height:48px;
				border:0;
                color: #fff;
                font-size:14px;
                cursor: pointer;
                display:block;
                text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
				cursor:default;			
				border-bottom:1px solid #3b4267;	
				border-right:4px solid  ##464e78;			
                }
 #main-nav li a.no-submenu{
	            background: #464e78; 
				width:200px;
				height:48px;			
				border:0;
                color: #fff;
                font-size:14px;
                cursor: pointer;
                display:block;
                text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
				border-right:3px solid  #3b4267;
				border-bottom:1px solid #3b4267;	
				white-space: nowrap;
	}
#sidebar #main-nav li a.nav-top-item span{
	            text-indent:5px;
				font-size:15px;
				display:block;
				/* float:left; */
				float: none; 
				font-weight:normal;
	            }
#sidebar #main-nav li a.nav-top-item img{
			   padding:9px 0 0 20px;
			   float:left;
			   border:0;
	            }
#sidebar #main-nav li a.nav-top-item.current {
                background:#3b4267;
				width:200px;
				height:48px;	letter-spacing:-1px;
				border-right:3px solid  #34c0e3;
				border-bottom:1px solid #3b4267;
                }
#sidebar #main-nav li a.no-submenu.current{
				background:#3b4267;
				width:200px;
				height:48px;
				border-right:3px solid  #34c0e3;
				border-bottom:1px solid #3b4267;
	}
#sidebar #main-nav li a.current {
				background: #3b4267;
				width:200px;
				height:48px;
				border:0;
                color:#ffffff;
                font-weight:bold;
				line-height:48px;
				border-right:4px solid #34c0e3
                }
                
#sidebar #main-nav li a.current:hover {
               color:#ffffff;
                }

#sidebar #main-nav ul {
				padding:0 ;
                font-size:12px;
                margin:0;
				border:0;
                }

#sidebar #main-nav ul li {
                list-style:none;
			    color: #fff;
                margin:0;
				width:200px;
                text-align:left;
				padding: 0 ;
                }

#sidebar #main-nav ul li a {
	            display:block;
                 padding:0 ;
               color: #fff;
				font-size:13px;
				padding:0 0 0 0;
				text-indent:48px;
                font-size: 12px;
                line-height:40px;
				height:40px;
				border:0;
				background: #5e6c92;
				border-bottom:1px solid #535b85;
                }

#sidebar #main-nav ul li a:hover{
 			    color: #ffffff;
				text-decoration: none;
				background: #277dd5;
				height:40px;
				border-bottom:1px solid #535b85;
}
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #ffffff;
				border:0;
			    display: block;
				background: #30a1f5;
		    	line-height: 40px;
				height:40px; 
				margin:0;
				font-size:13px;
				padding:0 0 0 0;
				text-indent:48px;
				border-bottom:1px solid #526381;
                }

#sidebar #main-nav li a.thirdmenu{
	display:block;
    padding:0 ;
                color: #fff;
				text-indent:55px;
                font-size: 14px;
                line-height:40px;
				height:40px;
				font-weight:normal;
	
	 background:#64bbfc ;
	border-bottom:1px solid #4e9cad
	}
#sidebar #main-nav li a.thirdmenu:hover{
	 background:#64bbfc;
	}
#sidebar #main-nav li a.thirdmenu.current,
#sidebar #main-nav li a.thirdmenu.current:hover{
	  font-weight:bold;
	   background:#39b1de url(../images/icon_leftmenu_arrow.png) no-repeat 32px 8px;
		border-bottom:1px solid #4e9cad;text-indent:52px;padding:0 0 0 0;
	}	
#sidebar #main-nav li a.nav-top-item span.font13{font-size:13px;}


.content-main{width:1200px;margin:0 auto; }				
.content-rightwrap{width:100%; float:left;min-height:500px;border-right:0 solid #dadee7;padding-bottom:4000px;
   margin-bottom:-4000px;background:#ffffff;}
.operatewrap{margin-left:210px; background:#ffffff;min-height:500px;margin-bottom:20px;}
.operatepannel-title{width:95%;padding:10px 0; border-bottom:1px solid #dadee7;margin:15px auto}
.operatepannel-title font{display:block;font-size:24px; color:#2f3236;line-height:40px;font-weight:normal;text-indent:10px;}
.operatepannel-title em{display:block;font-size:12px;line-height:24px;font-style:normal;font-weight:normal;padding:0 5px 0 10px;}


.pannel-01-01{ background:#dadee7;width:240px;height:500px;margin:5px 10px 20px 25px;float:left;}
.pannel-01-01 .pannel-subtitle{width:240px;border-bottom:1px solid #cacfda;height:50px;margin:-25px 0 0 0}
.pannel-01-01 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-01 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-01 .pannel-submain{width:220px;margin:0 auto}
.pannel-01-01 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:200px;height:40px;}
.chartnum{width:220px;padding:0 0;margin:6px 0 10px 0;}
.chartnum h4{font-size:16px;color:#444c57;font-weight:bold;text-align:center;height:32px;overflow:hidden;padding:0;margin:0;line-height:32px;}
.pannel-01-01 .chartnum font{display:block;font-size:52px;height:50px;color:#1370cf;text-align:center;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; line-height:50px;padding:0;margin:0;width:220px;}
.pannel-01-01 .chartpic{width:220px;padding:0 0;margin:6px 0;}
.chartpic-main{width:240px;}
.chartpic h4{font-size:16px;color:#444c57;font-weight:bold;text-align:center;height:32px;overflow:hidden;padding:0;margin:0;line-height:32px;}
.chartpic-note{width:240px;margin:5px auto 0 auto}
.chartpic-note ul{margin: 0 0 0 -40px}
.chartpic-note li{margin:8px auto; list-style:none;padding:2px 10px;height:32px;line-height:32px;width:230px;}
.chartpic-note li a{float:right;font-size:22px;font-weight:bold;color:#ffffff;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; letter-spacing:-1px;}
.chartpic-note01{ background:#578ebe ;font-size:14px;font-weight:bold;color:#ffffff;}
.chartpic-note02{ background:#8775a7;font-size:14px;font-weight:bold;color:#ffffff;}
.chartpic-note03{ background:#e47470;font-size:14px;font-weight:bold;color:#ffffff;}


.pannel-01-02{background:#ffffff;width:550px;height:500px;margin:5px 0px 20px 0px;padding:0;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-02 .pannel-subtitle{width:550px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-02 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-02 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-02 .pannel-submain{width:550px;margin:0 auto}
.pannel-01-02 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:620px;margin:0 auto;}
.pannel-01-02 .chartpic{width:550px;padding:0 0;margin:6px 0;}

.pannel-01-03{background:#ffffff;width:460px;height:320px;margin:5px 10px 20px 25px;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-03 .pannel-subtitle{width:460px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-03 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-03 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-03 .pannel-submain{width:460px;margin:0 auto}
.pannel-01-03 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:480px;padding-left:10px;}
.pannel-01-03 .chartpic{width:460px;padding:0 0;margin:6px auto;text-align:center}
.pannel-01-03 .chartpic img{margin:6px auto;}

.pannel-01-04{background:#ffffff;width:460px;height:320px;margin:5px 0 20px 10px;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-04 .pannel-subtitle{width:460px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-04 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-04 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-04 .pannel-submain{width:460px;margin:0 auto}
.pannel-01-04 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:480px;padding-left:10px;}
.pannel-01-04 .chartpic{width:460px;padding:0 0;margin:6px auto;text-align:center}
.pannel-01-04 .chartpic img{margin:6px auto;}


.pannel-01-05{ background:#dadee7;width:340px;height:500px;margin:5px 10px 20px 10px;float:left;}
.pannel-01-05 .pannel-subtitle{width:340px;border-bottom:1px solid #cacfda;height:50px;margin:-25px 0 0 0}
.pannel-01-05 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-05 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-05 .pannel-submain{width:300px;margin:0 auto}
.pannel-01-05 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:200px;height:40px;}
.pannel-01-05 .chartnum{width:300px;padding:0 0;margin:6px 0 10px 0;}
.pannel-01-05 .chartnum h4{font-size:16px;color:#444c57;font-weight:bold;text-align:center;height:32px;overflow:hidden;padding:0;margin:0;line-height:32px;}
.pannel-01-05 .chartnum font{display:block;font-size:52px;height:50px;color:#1370cf;text-align:center;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; line-height:50px;padding:0;margin:0;width:300px;}
.pannel-01-05 .chartpic{width:300px;padding:0 0;margin:6px 0;}


.pannel-01-06{background:#ffffff;width:550px;height:300px;margin:5px 0px 20px 0px;padding:0;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-06 .pannel-subtitle{width:550px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-06 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-06 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-06 .pannel-submain{width:550px;margin:0 auto}
.pannel-01-06 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:620px;margin:0 auto;}
.pannel-01-06 .chartpic{width:550px;padding:0 0;margin:6px 0;}

.pannel-01-07{background:#ffffff;width:640px;height:600px;margin:5px 0px 20px 0px;padding:0;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-07 .pannel-subtitle{width:640px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-07 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-07 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-07 .pannel-submain{width:640px;margin:0 auto}
.pannel-01-07 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:620px;margin:0 auto;}
.pannel-01-07 .chartpic{width:640px;padding:0 0;margin:6px 0;}

.pannel-01-08{background:#ffffff;width:460px;height:600px;margin:5px 10px 20px 25px;float:left;border:1px solid #dadee7;padding:0;}
.pannel-01-08 .pannel-subtitle{width:460px;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-01-08 .pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-01-08 .pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-01-08 .pannel-submain{width:460px;margin:0 auto}
.pannel-01-08 .pannel-submain font{display:block;font-size:14px;line-height:24px;width:480px;padding-left:10px;}
.pannel-01-08 .chartpic{width:460px;padding:0 0;margin:6px auto;text-align:center}
.pannel-01-08 .chartpic img{margin:6px auto;}

.footer-channel{border-top:1px solid #c4c8d3;width:100%;height:90px; background:#ffffff;}
.footer-channel .footermain{width:1200px;height:90px;margin:0 auto;font-size:14px;}
.footer-channel .footermain p{font-size:14px;margin:20px 0 0 0}
.footerleft{width:600px;margin:0 ;float:left;height:80px;padding-left:10px;line-height:1.6em;}
.footerright{float:right;width:600px;height:80px; text-align:right;padding-left:10px;line-height:1.6em;}

.logpannel{width:94%;margin:10px auto 30px auto}
.loglist{width:330px;float:left;}
.logchart{width:580px;float:right}
.pannel-subtitle{width:100%;border-bottom:1px solid #cacfda;height:50px; background:#dadee7;margin:-25px 0 0 0}
.pannel-subtitle h4{color:#444c57;font-size:18px;font-weight:bold;line-height:48px;padding-left:20px;}
.pannel-subtitle a{float:right;font-size:13px;color:#444c57;line-height:50px;padding-right:16px;}
.pannel-submain{width:100%;margin:0 auto}
.pannel-submain font{display:block;font-size:14px;line-height:24px;width:620px;margin:0 auto;}
.logchart .chartpic{width:100%;padding:0 0;margin:0 0;border:1px solid #dbdbdb}


/***通用样式***/
/***列表***/
.listmain{
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
	}
.listmain table{
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
	}
.listmain table thead td{
	border:1px solid #C5C3C3
	
	}
.listmain table tbody td{
	border:1px solid #C5C3C3
	}
	
/***搜索***/	
.search-list{
	width:96%;
	margin:5px auto;	
	padding:10px;
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
	}
.search-list h4{font-weight:bold;border-bottom:1px solid #cdcdcd;margin:0 0 5px 0;line-height:26px;padding-left:6px;}	
.search-tab	{
	border:1px solid #e1e1e1;
	border-collapse:collapse;
    width:100%;
	
	}
.search-tab thead td	{
	padding:0.4em 1em;
	margin:0;
	line-height:1.7em;
	background:#f6f6f6;
	font-size:14px;
	font-weight:normal;
	border-bottom:1px solid #e1e1e1;
	
	}
.search-tab tbody th{
	padding:0.4em 1em;
	margin:0;
	line-height:1.7em;
	text-align:right;
	background:#f6f6f6;
	font-size:14px;
	font-weight:normal;
	border-bottom:1px solid #e1e1e1;
	}
.search-tab tbody td{
	padding:0.4em 1em;
	margin:0;
	line-height:1.7em;
	font-size:14px;
	border-bottom:1px solid #e1e1e1;
	}
.search-tab tbody td span{
	padding:0 6px;
	
	}
.search-btn{
	position:relative;
	width:100%;
	margin:5px auto;
	text-align:center;
	padding:0;
	}
.search-btn-ext{
	display:block;
	background:#ededed;
	border-left:1px solid  #dedede;
	border-right:1px solid  #dedede;
	border-bottom:1px solid  #dedede;
		cursor:pointer;
	word-break:keep-all;
/* Gecko browsers */
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px;
 
/* Webkit browsers */
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
 
/* W3C syntax */
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 4px;
border-bottom-left-radius:  4px;
	position:absolute;
	right:0;	
	top:-5px;
	cursor:pointer;
	padding:4px 10px;
	line-height:22px;
	margin:0;
	}
/***功能页面中的搜索***/	
.counttabs {padding-left:360px;}
.searchcount{margin:-20px 0 0 0;border-left:0;border-right:0;}
.searchcount-text{margin:10px auto;width:930px;border-top:0 double #dbdbdb;padding:20px 20px; background:#f6f6f6; }
.searchcount-text p{font-size:15px;color:#4c4c4c;text-indent:24px;line-height:24px;margin:10px 0 ;}
/***重置form元素**/
form input[type="file"]{
	height:24px;/**为了和其他input的22px高效果一样**/
	}
form input[type="radio"] {
				padding:2px 10px 0 0;
                background: none;
				border: 0;
				margin:0 ;
				vertical-align: middle; 
                }
form label {
                padding: 0 20px 0 5px;
				vertical-align: middle; 
				font-size:14px;
				white-space:nowrap!important;		
    			 /**强制不折行word-break:keep-all;word-wrap:false;**/			
                }/***是必填项是用这个便签定位浮动***/
.input-file{
	border-color:#c1cad9;
	border-style:solid;
	border-width:1px;
	color:#6a6a6a;
	font-size:12px;
	float:left;
	font-family:"微软雅黑","宋体";
	height:24px;
	line-height:24px;
	vertical-align:middle;
	width:80%;
	}
.input-select{
	margin:0; 
	padding:3px 5px 3px 0; 
	background:#fff;
	outline:none; 
	color:#777879;
	display: inline-block; 
	font: normal 14px/25px "Microsoft Yahei", "SimSun", "Simhei", "Arial";
	border:#dadada 1px solid;
}
.input-textarea{
	border:#dadada 1px solid;
	font-size:12px;
	padding:2px 3px;
	color:#2e2e2e;
	font: normal 14px "Microsoft Yahei", "SimSun", "Simhei", "Arial";
	}	
.input-normal{
	border:1px solid #e1e1e1;
	padding:2px 6px;
	background:#fff;
	font: normal 14px "Microsoft Yahei", "SimSun", "Simhei", "Arial";
	line-height:24px;	
	}	
.input-wds{
	width:96%;
	} 
.input-wdl{
	width:98%;
	} 
.input-wd100{
	width:90px;
	}
.btn{
	display:inline-block;
	color:#324756;
	border:0;
	line-height:1.8em;
	font-size:14px; 
    vertical-align:middle;
	cursor:pointer;
	word-break:keep-all;
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
			/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	margin:2px 4px ;

	}
.btn-normal{	
	background:#1370cf;
	color:#fff;
	padding:0.4em 2em;
	*padding:0.2em 1em;
	}
.btn-reset{
	color:#fff;
	background:#8b8f99;
	padding:0.4em 2em;
	*padding:0.2em 1em;
	}
.btn-orange{
	color:#fff;
	background:#f87527;
	padding:0.4em 2em;
	*padding:0.2em 1em;
	}
.btn-tag{
	display:block;
	width:32px;
	float:left;
	height:32px;
	background:url(../images/btn_tag_add.png) no-repeat;	
	}
.btn-list{
	display:inline-block;
	font-size:12px;
	min-width:40px;
	background:#4282be;
	color:#fff;
	padding:0.3em 0.8em;
	*padding:0.2em 0.5em;
	text-align:center;
	border:0 solid #cccccc;
	margin:0 3px 0 3px;
	}
.btn-list:hover{
	background:#c39c6d;
	color:#ffffff;
	text-decoration:none
	}
.btn-intab{
	display:inline-block;
	font-size:12px;
	min-width:40px;
	background:#4282be;
	color:#fff;
	padding:0.3em 1em;
	*padding:0.2em 0.8em;
	text-align:center;
	font-weight:normal;
	border:0 solid #cccccc;
	margin:6px 10px 0 3px;
	}
.btn-intab:hover{
	background:#c39c6d;
	color:#ffffff;
	text-decoration:none
	}
.btn-photoset{
	background:#b2b2b2;
	width:100%;
	padding:0.4em 0;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	}
.btn-photoset:hover{
	text-decoration:none
	}
.note-pannel{
	border:1px solid #c5d2d7;
	background:#eff8fb;
	padding:0;
	width:96%;
	margin:10px auto;
	
	}
.note-main{
	padding:10px 0 15px 0;
	width:96%;
	margin:0 auto;
	}
.note-main h4{
	font-size:16px;
	font-weight:bold;
	color:#3c7c95;
	line-height:40px;
	border-bottom:1px solid #cbd6da;
	margin:0 0 10px 0;
	}
.note-main p{
	line-height:1.8em;
	color:#393e40;
	margin:4px 0;
	}
/****分页导航样式******/
.ui-page{
	width:96%;
	margin:0 auto 20px auto;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	padding:2px 0;
	font-size:12px;
	}
.ui-page-item-info{  
	padding:2px;
	margin:0;
	}
.ui-page-item-info{
	width:300px;
	float:left;
	}
.ui-page-item-set{
	width:120px;
	}
.ui-page-item-set h4{
	display:block;
	width:32px;
	float:left;
	font-weight:normal;margin:0;height:32px;
	}
.ui-page-go{
	display:block;
	width:auto;
	margin:0 0 0 5px;
	}
.ui-page-go h4{
	display:block;
	padding:0 4px 0 10px;
	float:left;
	font-weight:normal;
	margin:0;height:32px;
	}
.select-page{
	float:left;
	width:50px;
	border:1px solid #d4d4d4;
	padding:4px 4px;
	background:#fff;
	height:30px;
	font-size:12px;
	line-height:28px;
	}
.input-page{
	width:40px;
	height:30px;
	margin:0 3px  0 2px;
	border:1px  solid #dedede;
	float:left;
	}
.ui-button-go{
	display:block;
	float:left;
	border:0  solid #dedede;
	background:#1370cf;
	width:32px;
	padding:0;
	color:#ffffff;
	margin:0 0 0 0;
	line-height:29px;
	height:30px;
	vertical-align:middle;
	text-align:center;
					/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	}
.ui-item-link{
	float:right;
	width:auto
	}
.ui-item-link div{
	float:left;
	}
.ui-page-item{
    margin:0 ;	
	}
.ui-page-item a{
    float:left;
	display:inline-block;

		
	}
a.ui-page-item-current{
	cursor:default;
	text-decoration:none;
	color:#ffffff;
	line-height:29px;
	background:#e35b5a;
	}
a.ui-page-item:hover{
	text-decoration:none;
	}
.ui-page-item-first, .ui-page-item-prev, .ui-page-next, .ui-page-last{
	display:inline-block;
	border:0  solid #d4d4d4;
	background:#1271cf;
	padding:0 10px;
	cursor:pointer;
	line-height:29px;
	height:30px;
	color:#ffffff;
					/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	}
.ui-page-item-disable{
	border:0  solid #dedede;
	background:#c1c1c1;
	height:30px;
	padding:0 10px;
	font-weight:normal;
	cursor:default;
	color:#ffffff;
						/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	}	/***无效 不可用状态样式***/

/***列表样式***/
.list-normal{width:96%;margin:10px auto;}
.list-normalfull{width:100%;margin:10px auto;}
.list-normaltop{width:95%;margin:0 auto 10px auto;}
.listtitle{width:100%;height:45px;line-height:32px;margin:10px auto 0 auto; background:#f1f5ff url(../images/icon_listtitle.png) no-repeat 4px 4px;;border-top:3px double #b6bac1;padding:0;border-left:0 #dbdbdb solid ;border-right:0 #dbdbdb solid ;}
.listtitle h2{ display:inline-block;font-size:16px; color:#474b56; text-indent:40px; line-height:16px}
.listtopnum{width:100%;margin:0 auto 0 auto; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;background:#f8f8f8;padding:6px ;}
.listtopnum span{display:block;margin:0 10px 0 0;float:left; background:#ffffff;font-size:14px;border:1px dashed #dbdbdb;height:50px;padding:5px 10px;line-height:42px;}
.listtopnum span h4{display:inline-block;margin:0 10px;float:left;font-size:14px; color:#464854}
.listtopnum span em{display:block;margin:0 2px;float:left;font-size:15px;font-style:normal}

.listtopnote{font-size:16px;width:98%;line-height:30px;margin:5px auto 10px auto;font-style:italic;font-weight:100;border-bottom:1px dashed #dbdbdb;border-top:1px dashed #dbdbdb;padding:10px 2px;}
.listtopnote font{font-size:24px;font-weight:bold;margin:0 5px;}
.listmain{width:100%;margin:0 auto 5px auto;}
.list-tab{
	width:100%;	
	border:1px solid #e1e1e1;
	overflow:scroll;
	}
.tr-even-bg{ 
		background:#ffffff;
		border-bottom: 1px solid #eeeeee
}  /** 偶数行样式**/
.tr-odd-bg{ 
		background:#f2f2f2;
		border-bottom: 1px solid #eeeeee;
}  /** 奇数行样式**/
.list-tab thead td{
	background:#6a789f;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #e1e1e1;
	color:#ffffff;
	font-size:14px;
	padding:0.5em 0.8em;
	line-height:1.8em;
	text-align:center;
	}
.list-tab tbody td{	
	font-size:14px;
	padding:0.5em 0.5em;
	border-right:1px solid #e1e1e1;
	border-bottom:0 solid #e1e1e1;
	}
.list-tab td a{display:inline-block;font-size:13px;color:#65676f;padding:4px 15px;text-align:center;/* Gecko browsers */
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-topright: 2px;
   -moz-border-radius-bottomleft: 2px;
   -moz-border-radius-bottomright: 2px;
 
  /* Webkit browsers */
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
 
  /* W3C syntax */
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;  }
/***form样式***/
.table-fix{
	table-layout:fixed;
	word-wrap:break-word;
	overflow:hidden;
	}
	
.form-pannel{
	width:96%;
	margin:0 auto;
	padding:10px 0 10px 0;
	}
.form-table{
	border-collapse:collapse;
	border-top:1px solid #d4d4d4;
	border-bottom:2px solid #d4d4d4;
    width:100%;
	}
.form-table thead th{
	background:#eeeeee;
	border-left:1px solid #368caf;
	border-bottom:2px solid #d4d4d4;
	font-size:16px;
	font-weight:bold;
	color:#368caf;
		}
.form-table thead th h4{
	display:inline-block;
	*zoom:1;
	*display:inline;
	background:#368caf;
	padding:0 15px;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	margin:0 8px 0 0
	}
.form-table thead th span{
	display:inline-block;
	font-size:14px;
	margin:0 0 0 5px;
	
	font-weight:normal
	}
.form-table thead th font{
	font-weight:bold;
	font-size:16px;
	}
.form-table thead th.form-thead2{background:#6a789f;line-height:28px;padding:2px 5px;font-size:16px;font-weight:normal;color:#ffffff;}
.form-thead2{background:#6a789f;line-height:28px;padding:2px 5px;font-size:16px;font-weight:normal;color:#ffffff;}
border:1px solid #115eab;}
.form-thead-btn{margin:0;}
.form-thead-btn li{display:block;float:left;
	background:#54a3c5;
	padding:2px 8px;
	margin:2px 6px 0 0 ;
	line-height:20px;
	color:#ffffff;
	}
.form-thead-btn a{display:block;color:#ffffff;font-size:12px;line-height:22px;text-decoration:none;}
.form-table tbody {
	border-left:1px solid  #d4d4d4;
	}
.form-table tbody th{
	padding:0.5em 1em;
	margin:0;
	line-height:1.8em;
	text-align:right;
	background:#eef0f3;
	font-size:14px;
	border-bottom:1px solid #d4d4d4;
	border-right:1px solid  #d4d4d4;
	*border-left:1px solid  #d4d4d4;
	}
.form-table tbody td{
	padding:0.5em 1em;
	margin:0;
	line-height:1.8em;
	font-size:14px;
	border-bottom:1px solid #d4d4d4;
	border-right:1px solid  #d4d4d4;
	*border-left:1px solid  #d4d4d4;
	}
.form-btn{
	width:96%;
	margin:5px auto 5px auto;
	text-align:center
	}
.form-table tbody td span{
	padding:0 6px;
	}

/***选卡样式***/

.form-tabs{
	height:42px;
	width:100%;
	border-bottom:0 solid #d4d4d4;
	margin:2px  auto 0 auto;
	padding:0 0 2px 0;
	background:#ffffff
	}
.form-tabs ul{
	display:block;
	width:100%;
	margin:0 auto;
	z-index:2;
	}
.form-tabs li{
	float:left;
	font-size:16px;
	list-style:none;	
	padding:0 36px;
	height:38px;
	line-height:38px;
	margin:0 10px 0 0;
				/* Gecko browsers */
-moz-border-radius:  4px 4px 0 0; 
/* Webkit browsers */
-webkit-border-radius: 4px 4px 0 0; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius: 2px 2px 0 0; 
	}
.form-tabs-on{
	border-top:3px solid #00b3ef;
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	background:#ffffff;
	color:#3c4167;
	cursor:pointer;
	}
.form-tabs-off{
	border-top:3px solid #464d77;
	color:#e4e4e4;
	cursor:pointer;
	background:#464d77
	}
.form-tabsmain{
	width:96%;
	background:#ffffff;
	margin:0 auto;
	padding:10px 0;
	border-top:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	}
		
/***统计分析样式***/
.table-summary{
	border-bottom:1px solid #d7d7d7;
	}
.table-summary th{
	height:38px;
	line-height:1.8em;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
	border-right:1px solid #dedede;
	white-space:nowrap;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	
	}
.table-summary-tha{
	background:#3fa0ec;
	
	}
.table-summary-thb{
	background:#60b5f7;
	
	}
.table-summary td{
	height:28px;
	line-height:1.8em;
	text-align:center;
	padding:3px 2px;
	border-right:1px solid #eaeaea;
	border-bottom: 1px solid #eeeeee;
	}
.list-summary-top{
	width:98%;
	height:40px;
	margin:0 auto;
	padding:4px;
	
	}
.tabs-summary{
	position:relative;	
	left:50%;	
	float:left;
	margin:0 auto;
	height:34px;
	}
.tabs-summary span{
	display:block;
	float:left;
	width:160px;
	position:relative;	
	right:50%; 
	z-index:2;	
	float:left;
	}
.tabs-summary span a{
	display:block;
	margin:10px 6px 0 0;
	height:34px;
	text-decoration:none;
	text-align:center;
	line-height:34px;
	font-size:16px;
	}
a.tabs-summary-on{
	background:#3fa0ec;
	border-left:1px solid  #2282b8;
	border-top:1px solid  #2282b8;
	border-right:1px solid  #2282b8;
	color:#ffffff;
	/* Gecko browsers */
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-topright: 4px;
   -moz-border-radius-bottomleft: 0;
   -moz-border-radius-bottomright: 0;
 
  /* Webkit browsers */
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;;
 
  /* W3C syntax */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;     
	}
a.tabs-summary-off{
	background:#eeeeee;
	border-left:1px solid  #dedede;
	border-top:1px solid  #dedede;
	border-right:1px solid  #dedede;
	color:#6c6c6c;
	/* Gecko browsers */
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-topright: 4px;
   -moz-border-radius-bottomleft: 0;
   -moz-border-radius-bottomright: 0;
 
  /* Webkit browsers */
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;;
 
  /* W3C syntax */
  border-top-left-radius: 4px;
  border-top-right-radius:4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;  
	 
	}
.fontred{
	color:#e14f4e
	}
.fontgreen{
	color:#1caf9a
	}
.fontblue{color:#1370cf;}
.list-tab tbody{border-bottom:4px  double #c9cdd5}
.bggray{ background:#f6f6f6;}
.bgblue{ background:#e4ecf9;}
.bgdeepblue{ background:#f6f6f6;}


/***数据***/
.datapanel{width:96%;margin:10px auto 40px auto;}
.dataitem{}
.halfleft{width:50%;float:left;}
.dataitem h4{width:100%;height:22px;border-left:6px solid #6a789f;line-height:24px;font-weight:bold;font-size:18px;padding-left:12px;color:#444c57}
.dataitem-num{width:100%;margin:5px 0 30px 0;}
.dataitem-num01,.dataitem-num02,.dataitem-num03,.dataitem-num04{width:450px;height:120px;}
.dataitem-icon01{ display:block;background:#8775a7 url(../images/icon_data_item.png) no-repeat -2px -10px;;width:120px;height:120px;float:left;}
.dataitem-icon02{ display:block;background:#578ebe url(../images/icon_data_item.png) no-repeat -2px -135px;;width:120px;height:120px;float:left;}
.dataitem-icon03{ display:block;background:#f3a328 url(../images/icon_data_item.png) no-repeat -2px -265px;;width:120px;height:120px;float:left;}
.dataitem-icon04{ display:block;background:#1cbe9c url(../images/icon_data_item.png) no-repeat -2px -385px;;width:120px;height:120px;float:left;}
.dataitem-num01 font,.dataitem-num02 font,.dataitem-num03 font,.dataitem-num04 font{ display:block;background:url(../images/bg_data_item.png) no-repeat left bottom;width:328px;height:118px;float:left;font-size:36px;line-height:110px;padding-left:20px;border:1px solid #eeeeee}
.dataitem-text{display:block;width:450px;;font-size:15px;color:#444c57;line-height:24px;margin:10px 0;}
.dataitem-text a{color:#444c57;}



/***五证场景样式***/
.s-bdt-grey{
	border-bottom: 1px solid #cacfd9;
}
.s-bdl-grey{
	border-left: 1px solid #cacfd9;
}
.s-bdall-grey{
	border: 1px solid #cacfd9;
}
.fn-hide{
	display: none!important;
}
.fn-show{
	display: block!important;
}
.fn-center{
	text-align: center;
}


.boxw95{width:95%;margin:0 auto}
.m-cont{
	margin: 0 0 15px 0;
	overflow: hidden;
}

.m-cont-box{
	height: 87px;
	font-size: 16px;
	color: #FFFFFF;
	float: left;
	margin-right: 11px;
}
.m-cont-box-l{
	width: 77px;
	height: 87px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	margin-right: -77px;
}
.icon{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.m-cont-box-r{
	width: 100%;
	height: 87px;
	float: left;
	padding-left: 77px;
	padding-top: 17px;
}
.m-cont-box-r h3{
	margin: 0;
	font-size:36px ;
	line-height: 36px;
	font-weight: bold;
}

.m-cont-box2{
	border:1px solid #cacfd9;
	width: 948px;
	overflow: hidden;
}
.m-cont-box2-l{
	width: 646px;
	float: left;
}
.m-cont-box2-r{
	width: 300px;
	float: left;
	padding: 20px;
	background: #e7ebf6;
	height:433px;
}
.m-cont-box2-r h4{
	margin: 0;
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 18px;
	color: #444c57;
}
.m-cont-box2-r .tips{
	font-size: 14px;
	color: #444c57;
	padding: 20px 0;
}
.m-cont-table{
	width: 948px;
	height: 400px;
	overflow-y: scroll;
}

/****目录服务样式****/
.channel-direc{width:990px;}
.channel-direc .pannel-appli-onload{width:940px;margin:10px auto;padding:0;border:1px solid #d8d8d8; background:#f8f8f8}
.channel-direc .pannel-appli-onload ul{margin:0;padding:0;}
.channel-direc .pannel-appli-onload li{display:block;border-bottom:1px dashed #d8d8d8;padding:10px 0;width:920px;margin:5px auto;list-style:none;}
.channel-direc .pannel-appli-onload li span{display:block;height:20px;border-left:0 solid #1370cf;padding:0 0 0 22px; background:url(../images/icon_arrow02.png) no-repeat 2px 0;}
.channel-direc .pannel-appli-onload li span font{font-size:15px;line-height:18px; }
.channel-direc .pannel-appli-onload li span  a{display:block;padding:4px 10px; background:#1370cf;color:#ffffff;border-radius: 2px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 2px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 2px; /* Webkit浏览器的私有属性 */ }
.channel-direc .pannel-appli-step{
	width:940px;margin:10px auto 0 auto;
	border:1px solid #d8d8d8;
	}
.channel-direc .pannel-appli-step h4{border-bottom:1px solid #d8d8d8;padding-bottom:8px;}
.channel-direc .pannel-appli-step h4 span{
	display:inline-block;	
	border-left:4px solid  #464d77;
	font-size:18px;
	color:#3c4167;
	padding:0 8px;
	text-align:center;	
	}
.channel-direc .pannel-appli-step{}
.channel-direc .pannel-appli-step .step-title{border-bottom:1px dashed #d8d8d8;width:920px;height:46px;margin:0 auto 0 auto;}
.channel-direc .pannel-appli-step .step-title em{ display:block;float:left;font-size:16px;font-weight:bold; font-style:normal;padding:8px 0 0 15px;color:#ffffff;background:url(../images/bg_step_num.png) no-repeat ;width:50px ;height:50px;}
.channel-direc .pannel-appli-step .step-title span{display:block;float:left;font-size:24px;color:#38c6a7;font-weight:bold;}
.channel-direc .pannel-appli-step .step-cont{width:920px;padding:10px 0;margin:0 0 20px 0;}
.channel-direc .pannel-appli-step .step-cont p{font-size:15px;line-height:1.6em;padding:10px 0 ;;margin:0;text-indent:24px;}
.channel-direc .pannel-appli-step .step-cont .step-cont-sub{border:1px dashed #d8d8d8; background:#f8f8f8;width:890px;padding:10px;margin:0 auto}
.channel-direc .pannel-appli-step .step-cont-sub span {display:block;font-size:14px;}
.channel-direc .pannel-appli-step .step-cont-sub span em{display:block;float:left;width: 20px; color:#ffffff;font-size:12px;text-align:center;font-style:normal;margin:0 10px 0 0;
height: 20px; 
background-color: #38c6a7; 
border-radius: 10px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 10px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 10px; /* Webkit浏览器的私有属性 */  }
.channel-direc  .step-btn{width:940px;margin:2px auto 20px auto;text-align:center;border-top:1px solid #d8d8d8}
.channel-direc  .step-btn a{display:inline-block; background:#38c6a7;padding:12px 35px;margin:0 auto;font-size:16px;color:#ffffff;}



/**------------ 内容页 ------------**/
.panneldetail{width:940px;margin:0 auto;}
.content{margin:20px 0 0 0; padding:45px 0; background:#fff;width:95%;}
.content h1{ padding:0 90px; text-align:center; color:#146cb3; line-height:50px;font-size:24px;}
.article-info{padding:20px 0;text-align:center; color:#232323;border-bottom:1px #d8d8d8 dashed;width:95%;font-size:14px;}
.article-info span{ margin:0 10px 0 0; heihgt:32px; line-height:32px;  }
.article{padding:30px 40px;  line-height:36px;font-size:16px;}
.article p{font-size:16px;}
.f-size{ float:right;}
.f-size a{ padding:0 5px;}


/*****aleen 20170417 add*****/
.listtop-title{width:97%;padding:0px 10px;margin:10px auto 0 auto;height:32px;}
.listtop-title font{display:block; padding:8px 10px;background:#ffffff;font-size:20px;border-left:0 solid #6a789f;font-weight:bold;text-indent:0;color:#313555;line-height:24px;}
.listtop-num{width:98%;margin:0 auto;}
.listtop-num01{ background:#7a55b7;color:#ffffff;width:360px;height:90px;}
.listtop-num01 font{display:block;font-size:15px;font-weight:bold;border-bottom:1px  dashed #ffffff;line-height:32px;text-indent:10px;}
.listtop-num01 ul{width:100%;height:40px;margin:0;padding:0;}
.listtop-num01 li{ list-style:none;width:130px;float:left; height:40px;position:relative}
.listtop-num01 li span{ display:block;font-size:16px;float:left; position:absolute;left:3px;top:16px;}
.listtop-num01 li em{display:block;font-size:24px;position:absolute;left:70px;top:4px;}
.listtopnote {}
.listtopnote i{ display:inline-block;width:14px;height:18px;border-left:6px solid #61699a;line-height:16px;margin:0 5px 0 20px;}
.listinsert-chart{
	border:1px solid #d1d1d1;width:98%;min-height:500px;margin:0 auto 20px auto
	}
.operatepannel-note{font-size:16px;width:94%;line-height:32px;margin:8px auto 20px auto;text-indent:32px;}
/*  表格样式  */
#list-tab {padding-right:10px;width:100%;table-layout:fixed;word-wrap:break-word;}
#grid td  {height:20px;white-space: nowrap;/* //不换行 */ overflow:hidden;/* //超出隐藏  */
	 	text-overflow:ellipsis; -o-text-overflow:ellipsis;-moz-text-overflow: ellipsis;-webkit-text-overflow: ellipsis; /* //超出部分用....代替 */}
#grid td .grid_a_blue {color: blue; }
#grid td .grid_a_button {color: white;background: #1370cf;    width: auto;display: initial;    margin: 5px; }
#grid td a{ width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; display:block;}	
#girdThead td{width:100%;} /*  white-space: nowrap;*/
.checkbox5 {    width: 14px;
    height: 14px;
    vertical-align: text-top;
    margin-top: 1px;}
