 <!--表单验证样式-->
 <link rel="stylesheet" href="/theme/js/jsnew/validator-0.7.3/jquery.validator.css"
 			th:href='@{/theme/js/jsnew/validator-0.7.3/jquery.validator.css}'/>
 <script src="/theme/js/jsnew/formValidator-4.0.1.min.js"
 			th:src='@{/theme/js/jsnew/formValidator-4.0.1.min.js}'></script>
 <script src="/theme/js/jsnew/formValidatorRegex.js"
 			th:src='@{/theme/js/jsnew/formValidatorRegex.js}'></script>
 <!--表单验证样式-->
<script th:inline="javascript">
	/*<![CDATA[*/	
	var linksaveS    = /*[[@{/sys/DeptController!new.json}]]*/		 ;//使用默认新增方法onclick="addS(null,'POST')"时参数必须  
	/*]]>*/
</script>
<style>
	.search-tab tr{
		min-height: 70px;
	}
</style>
 <script src="/theme/portals/page/system/dept/deptedit.js"
 			th:src='@{/theme/portals/page/system/dept/deptedit.js}'></script>
<div class="operatewrap">
                         <h4 class="operatepannel-title" ><!-- <font id="titleId">数据建设</font> -->
                        								  <font th:if="${dto.deptId!=null}">部门管理  - 编辑页面</font>
                        								  <font th:if="${dto.deptId==null}">部门管理  - 新增页面</font>
                         </h4>
                          <!--通用的列表-->
                         <div class="ui-list fn-clear">
                         <!--搜索面板开始-->
                         <div class="search-list">
                             <!--<h4 >查询条件</h4>-->
				<form modelAttribute="dto" th:object="${dto}" id="deptForm" class="form-horizontal">
								<input type="hidden" name="flag" value="1" />
			 					<input type="hidden" th:value="${dto.deptId}" th:field="*{deptId}"/>
 					 <table class="search-tab">
                                 <colgroup><!--注意用colgrounp标签组定义表格的每列宽度不可删除-->
                                 <col width="140"></col>
                                 <col></col>
                                 <col></col>
                                 </colgroup> 
                                <tbody >
                                <tr>
        						   <th ><label class="control-label">机构排序序号</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.deptIndex}" th:field="*{deptIndex}" />
											 <div id="deptIndexTip" class="put_sty"></div>
										</div>
									  </td>
									 <th ><label class="control-label">父机构编号</label></th>
									   <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.parentId}" th:field="*{parentId}" onclick="publishS()"/>
											 <div id="parentIdTip" class="put_sty"></div>
										</div>
									  </td>
								</tr>
								<tr>
        						   
        						   <th ><label class="control-label">机构名称全称</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.dept_fullname}" th:field="*{dept_fullname}" />
											<div id="dept_fullnameTip" class="put_sty"></div>
										</div>
									  </td>
									 <th ><label class="control-label">机构名称简称</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.deptName}" th:field="*{deptName}" />
											 <div id="deptNameTip" class="put_sty"></div>
										</div>
									  </td>
								</tr>
								<tr>
        						   <th ><label class="control-label">机构代码</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.dept_zzjgdm}" th:field="*{dept_zzjgdm}"/>
											<div id="dept_zzjgdmTip" class="put_sty"></div>
										</div>
									  </td>
        						   <th ><label class="control-label">机构状态</label></th>
                                      <td width="25%">
										<div class="control-group">
											<label><input type="radio" name="state" th:field="*{deptState}" value="1" th:checked="checked" /> 启用</label> 
											<label><input type="radio" name="state" th:field="*{deptState}" value="0" /> 禁用</label> 
											<div id="deptStateTip" class="put_sty"></div>
										</div>
									  </td>
								</tr>
								<tr>
        						   <th ><label class="control-label">机构url地址</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.deptUrl}" th:field="*{deptUrl}" />
											<div id="deptUrlTip" class="put_sty"></div>
										</div>
									  </td>
        						   <th ><label class="control-label">机构描述信息</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.deptDesc}" th:field="*{deptDesc}" />
											<div id="deptDescTip" class="put_sty"></div>
										</div>
									  </td>
								</tr>
								<tr>
        						   <th ><label class="control-label">备注信息</label></th>
                                      <td width="25%">
										<div class="control-group">
											<input type="text" style="width: 255px;" th:value="${dto.remark}" th:field="*{remark}" />
											<div id="remarkTip" class="put_sty"></div>
										</div>
									  </td>
								</tr>
								</tbody></table>

					<div class="form-actions" style="text-align: center;">
						<a href="#"><input class="btn btn-normal"  id="next"  type="button" value="保存" /></a>	
							<input id="back" class="btn btn-normal" type="button" value="返 回" /> 					
					</div>
				</form>
		</div>
		</div>
	</div>
